<footer class="text-center border-top footer" style="box-shadow: inset 0 0 2rem rgba(48, 195, 214, 0.404);">
  <!-- Grid container -->
  <div class="container-fluid pt-4">
      <!-- Section: Social media -->
      <div class="col mb-4 py-1">
          <!-- Facebook -->
          <a class="btn btn-link btn-floating btn-sm text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="white"><i class="bi bi-facebook"></i></a>

          <!-- Twitter -->
          <a class="btn btn-link btn-floating btn-sm text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="bi bi-twitter"></i></a>

          <!-- Google -->
          <a class="btn btn-link btn-floating btn-sm text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="bi bi-google"></i></a>

          <!-- Instagram -->
          <a class="btn btn-link btn-floating btn-sm text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="bi bi-instagram"></i></a>

          <!-- Linkedin -->
          <a class="btn btn-link btn-floating btn-sm text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="bi bi-linkedin"></i></a>
          <!-- Github -->
          <a class="btn btn-link btn-floating btn-sm text-dark m-1" href="https://github.com/GabyyOliveira"
              role="button" data-mdb-ripple-color="dark"><i class="bi bi-github"></i></a>
      </div>
      <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: #f1f1f1; box-shadow: inset 0 0 2rem rgba(105, 105, 105, 0.301);">
      © 2020 Copyright:
      <a class="text-dark" href="https://github.com/GabyyOliveira" style="text-decoration: none;">Gabyy Oliveira</a>
  </div>
  <!-- Copyright -->
</footer>

