<div class="container">
  <section class="login">
    <h1 class="text-center mt-5 text-warning">Tranferencia</h1>
    <form>
        <input [(ngModel)]="conta.Cliente" type="text" name="text"  placeholder="Nome..." class="descricao">
        <input [(ngModel)]="conta.valor" type="number" name="text" placeholder="Valor..." class="obs">
        <input [(ngModel)]="conta.Conta" type="text" name="text" placeholder="conta" class="obs"><br><br><br>
        <button (click)="adicionar()" class="btn-info">Tranferir</button>
    </form>
  </section>
  </div>
